[submodule "arduino-libraries/RotaryEncoder/AdaEncoder_GreyGnome"]
	path = arduino-libraries/RotaryEncoder/AdaEncoder_gh_GreyGnome
	url = git://github.com/GreyGnome/AdaEncoder.git
[submodule "arduino-libraries/RBD/RBD_Button"]
	path = arduino-libraries/RBD/RBD_Button
	url = https://github.com/alextaujenis/RBD_Button
[submodule "arduino-libraries/RBD/RBD_Capacitance"]
	path = arduino-libraries/RBD/RBD_Capacitance
	url = https://github.com/alextaujenis/RBD_Capacitance
[submodule "arduino-libraries/RBD/RBD_HumanSensor"]
	path = arduino-libraries/RBD/RBD_HumanSensor
	url = https://github.com/alextaujenis/RBD_HumanSensor
[submodule "arduino-libraries/RBD/RBD_Light"]
	path = arduino-libraries/RBD/RBD_Light
	url = https://github.com/alextaujenis/RBD_Light
[submodule "arduino-libraries/RBD/RBD_LightSensor"]
	path = arduino-libraries/RBD/RBD_LightSensor
	url = https://github.com/alextaujenis/RBD_LightSensor
[submodule "arduino-libraries/RBD/RBD_Motor"]
	path = arduino-libraries/RBD/RBD_Motor
	url = https://github.com/alextaujenis/RBD_Motor
[submodule "arduino-libraries/RBD/RBD_SerialManager"]
	path = arduino-libraries/RBD/RBD_SerialManager
	url = https://github.com/alextaujenis/RBD_SerialManager
[submodule "arduino-libraries/RBD/RBD_Servo"]
	path = arduino-libraries/RBD/RBD_Servo
	url = https://github.com/alextaujenis/RBD_Servo
[submodule "arduino-libraries/RBD/RBD_Threshold"]
	path = arduino-libraries/RBD/RBD_Threshold
	url = https://github.com/alextaujenis/RBD_Threshold
[submodule "arduino-libraries/RBD/RBD_Timer"]
	path = arduino-libraries/RBD/RBD_Timer
	url = https://github.com/alextaujenis/RBD_Timer
[submodule "arduino-libraries/RBD/RBD_WaterSensor"]
	path = arduino-libraries/RBD/RBD_WaterSensor
	url = https://github.com/alextaujenis/RBD_WaterSensor
[submodule "arduino-libraries/RBD/RBD_Relay"]
	path = arduino-libraries/RBD/RBD_Relay
	url = https://github.com/alextaujenis/RBD_Relay
[submodule "arduino-libraries/RotaryEncoder/arduino-rotary-knob_gh_micheljansen"]
	path = arduino-libraries/RotaryEncoder/arduino-rotary-knob_gh_micheljansen
	url = https://github.com/micheljansen/arduino-rotary-knob
[submodule "arduino-libraries/RotaryEncoder/QuadEncoder_gh_medecau"]
	path = arduino-libraries/RotaryEncoder/QuadEncoder_gh_medecau
	url = https://github.com/medecau/QuadEncoder
[submodule "arduino-libraries/RotaryEncoder/RotaryEncoder_gh_mathertel"]
	path = arduino-libraries/RotaryEncoder/RotaryEncoder_gh_mathertel
	url = https://github.com/mathertel/RotaryEncoder
[submodule "arduino-libraries/RotaryEncoder/encoder_gh_0xPIT"]
	path = arduino-libraries/RotaryEncoder/encoder_gh_0xPIT
	url = https://github.com/0xPIT/encoder
[submodule "arduino-libraries/button_debounce/Button_gh_JChristensen"]
	path = arduino-libraries/button_debounce/Button_gh_JChristensen
	url = https://github.com/JChristensen/Button
[submodule "arduino-libraries/RotaryEncoder/MD_REncoder_gh_MajicDesigns"]
	path = arduino-libraries/RotaryEncoder/MD_REncoder_gh_MajicDesigns
	url = https://github.com/MajicDesigns/MD_REncoder
[submodule "arduino-libraries/RotaryEncoder/GroveEncoder_gh_dantler"]
	path = arduino-libraries/RotaryEncoder/GroveEncoder_gh_dantler
	url = https://github.com/dantler/GroveEncoder
[submodule "arduino-libraries/RotaryEncoder/Encoder_gh_PaulStoffregen"]
	path = arduino-libraries/RotaryEncoder/Encoder_gh_PaulStoffregen
	url = https://github.com/PaulStoffregen/Encoder
[submodule "arduino-libraries/RotaryEncoder/Encoder_gh_Pitt-RAS_patched_PaulStoffregen"]
	path = arduino-libraries/RotaryEncoder/Encoder_gh_Pitt-RAS_patched_PaulStoffregen
	url = https://github.com/Pitt-RAS/Encoder
[submodule "arduino-libraries/RotaryEncoder/Encoder_gh_Pitt-RAS"]
	path = arduino-libraries/RotaryEncoder/Encoder_gh_Pitt-RAS
	url = https://github.com/Pitt-RAS/Encoder
[submodule "arduino-libraries/LED/jled_gh_jandelgado"]
	path = arduino-libraries/LED/jled_gh_jandelgado
	url = https://github.com/jandelgado/jled
[submodule "arduino-libraries/VFD/Adafruit-Graphic-VFD-Display-Library_gh_adafruit"]
	path = arduino-libraries/MonoGraphic/Adafruit-Graphic-VFD-Display-Library_gh_adafruit
	url = https://github.com/adafruit/Adafruit-Graphic-VFD-Display-Library
[submodule "arduino-libraries/MonoGraphic/u8g2_gh_olikraus"]
	path = arduino-libraries/MonoGraphic/u8g2_gh_olikraus
	url = https://github.com/olikraus/u8g2
[submodule "arduino-libraries/MonoGraphic/U8g2_Arduino_gh_olikraus"]
	path = arduino-libraries/MonoGraphic/U8g2_Arduino_gh_olikraus
	url = https://github.com/olikraus/U8g2_Arduino
[submodule "arduino-libraries/ColorGraphic/ucglib_gh_olikraus"]
	path = arduino-libraries/ColorGraphic/ucglib_gh_olikraus
	url = https://github.com/olikraus/ucglib
[submodule "arduino-libraries/ColorGraphic/Ucglib_Arduino_gh_olikraus"]
	path = arduino-libraries/ColorGraphic/Ucglib_Arduino_gh_olikraus
	url = https://github.com/olikraus/Ucglib_Arduino
[submodule "arduino-libraries/MonoGraphic/u8glib_gh_olikraus"]
	path = arduino-libraries/MonoGraphic/u8glib_gh_olikraus
	url = https://github.com/olikraus/u8glib
[submodule "arduino-libraries/MonoGraphic/U8glib_Arduino_gh_olikraus"]
	path = arduino-libraries/MonoGraphic/U8glib_Arduino_v1_gh_olikraus
	url = https://github.com/olikraus/U8glib_Arduino
[submodule "arduino-libraries/MonoGraphic/u8glib_v1_gh_olikraus"]
	path = arduino-libraries/MonoGraphic/u8glib_v1_gh_olikraus
	url = https://github.com/olikraus/u8glib
[submodule "arduino-libraries/SDTFMMC/SdFat_FAT1632_gh_greiman"]
	path = arduino-libraries/SDTFMMC/SdFat_FAT1632_gh_greiman
	url = https://github.com/greiman/SdFat
[submodule "arduino-libraries/SDTFMMC/SD_sdfatlib_gh_adafruit"]
	path = arduino-libraries/SDTFMMC/SD_sdfatlib_gh_adafruit
	url = https://github.com/adafruit/SD
[submodule "arduino-libraries/LED/shift7seg_gh_pseudoVella"]
	path = arduino-libraries/LED/shift7seg_gh_pseudoVella
	url = https://github.com/pseudoVella/shift7seg
[submodule "arduino-libraries/BobaBlox_gh_robertgallup"]
	path = arduino-libraries/BobaBlox_gh_robertgallup
	url = https://github.com/robertgallup/BobaBlox
[submodule "arduino-libraries/bitlash_arduino_interpreter_gh_robertgallup_billroy"]
	path = arduino-libraries/bitlash_arduino_interpreter_gh_robertgallup_billroy
	url = https://github.com/robertgallup/bitlash
[submodule "tools/bmp2hex_gh_robertgallup"]
	path = tools/bmp2hex_gh_robertgallup
	url = https://github.com/robertgallup/bmp2hex
